h1{
    color:white;
}
.button{
    background-color: black;
    color:rgb(32,32,221);
    text-decoration: none;
}
body{
    background-color: black;
    margin:5px;
    height: 680px;
    width: 300px;
    float: left;
}